{% extends "layout.html" %}
{% load static %}

{% block content %}

<style>
    .bk-root{
        overflow: auto;
    }
    @media screen and (max-width: 1100px) {
				.mainContainer{
					margin: 0px 20px 0px 20px;
				}
				.logoutbtn {
					margin-right: 20px;
				}

			}

            @media screen and (max-width: 550px) {
				.mainContainer{
					margin: 0px 10px 0px 0px;
				}
				.logoutbtn {
					margin-right: 10px;
				}
				.logoutbtntxt{
					display: none;
				}
							
			}
</style>

<link href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.2.min.css
    " rel=”stylesheet” type=”text/css”>
 <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.2.min.css"
    rel=”stylesheet” type=”text/css”>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.2.min.js"></script>
    <title>Bokeh plot</title>
    {{ script|safe }}
    {{ div|safe }}
<script>
    var favoritemovie = "Shrek";
    sessionStorage.setItem("favoriteMovie", favoritemovie);
</script>
{% endblock content %}
