<!DOCTYPE html>
<html>
    <head>
      <title>SleepLabs</title>
      <!-- <link rel="icon" type="image/x-icon" s="https://nps-storage.s3.ap-south-1.amazonaws.com/images/icons8-snitch-48.png"> -->
      <link rel = "icon" href ="https://nps-storage.s3.ap-south-1.amazonaws.com/images/icons8-snitch-48.png" type = "image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://pagecdn.io/lib/mathjs/11.0.1/math.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script>
            var sleeplabs_data;
            sleeplabs_data = {{sleeplabs|safe}}
            sleeplabs_data_parmanent = sleeplabs_data
            console.log(sleeplabs_data, sleeplabs_data_parmanent)
        </script>
        <!-- <meta http-equiv="refresh" content="10"> -->
        <style>
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
          .dashboardLeadBtn{
              background: #FFFFFF;
              border: 1px solid #D0D5DD;
              float: left;
              color: white;
              font-family: 'Inter', sans-serif !important;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #344054;
              padding: 0px 10px 0px 10px;
              height: 40px;
          }
          .active{
            color: blue;
            } 
            .dashboardBoxHeading{
        font-family: 'Inter', sans-serif !important;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
        color: #101828;
    }
    .dashboardBox{
        padding-top: 48px;
    }
            #pie-chart{
              width: 1460px !important;
            }
            input:focus {
        outline: none;
      }
        </style>
    </head>
    <body style="background: #f7f4f4; margin: 0px 100px 0px 100px;">
      <div class="d-flex justify-content-between dashboardBox">
        <h2 class="dashboardBoxHeading">Welcome to Sleeplabs</h2>
        <div class="btn-group flex-wrap justify-content-end">
          <button class="dashboardLeadBtn" id="todaydatebtn" style="border-radius: 8px 0px 0px 8px;" onclick="updatedashboard('today')">Today</button>
          <button class="dashboardLeadBtn" id="yesterdaydatebtn" onclick="updatedashboard('Yesterday')">Yesterday</button>
          <input class="dashboardLeadBtn" title="Select Date" id="dateselector" onchange="updatedashboard(this.value)" type="Date">
          <button class="dashboardLeadBtn active" id="alldatbtn" onclick="updatedashboard('alltime')" style="border-radius: 0px 8px 8px 0px;">All Time</button>
      </div>
      </div>



        <div id="container" style="width: 90%; margin-left: 30px;">
            <canvas id="pie-chart"></canvas>
        </div>

        <!-- <table id="graphinfotable" style="margin-top: 40px;">
          <thead>
          <tr>
            <th>Periods</th>
            <th>Total</th>
            <th>Restlessness Period</th>
            <th>Tight Sleep Period</th>
            <th>Ratio</th>
            <th>Quality</th>
          </tr>
        </thead>
        <tbody id="graphinfotabletbody">
          <tr>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
            <td>NaN</td>
          </tr>
        </tbody>
          
        </table> -->

        <script>
          // function sleeplabgraph(){
            var Acx_data; 
            Acx_data = sleeplabs_data.map(current => {return current.acxdata})
            console.log('sleeplabs_data_parmanent',sleeplabs_data.map(current => {return current.acxdata}))
            var ctx_live = document.getElementById("pie-chart");
            var myChart = new Chart(ctx_live, {
              type: 'line',
              plugins: [{
                afterDraw: chart => {
                  let ctx = chart.chart.ctx;
                  let xAxis = chart.scales['x-axis-0'];
                  let yAxis = chart.scales['y-axis-0'];
                  ctx.save();
                  ctx.textAlign = 'center';
                  ctx.font = '12px Arial';      
                  ctx.fillStyle = 'black';
                  ctx.textAlign = 'left';
                  ctx.fillText('Avg. = ' + parseInt(Acx_data.reduce((a, b) => a + b, 0) / Acx_data.length), xAxis.left + 20, yAxis.top + 255);
                  ctx.fillText('Min. = ' + parseInt(Math.min(...Acx_data)), xAxis.left + 20, yAxis.top + 240);
                  ctx.fillText('Max. = '+ parseInt(Math.max(...Acx_data)), xAxis.left + 20, yAxis.top + 225);
                  ctx.fillText('SD = '+ parseInt(math.std(Acx_data)), xAxis.left + 20, yAxis.top +210);
                  ctx.restore();
                }
              }],
              data: {
                datasets: [{
                fill:false,
                  data: sleeplabs_data.map(current => {return current.acxdata}),
                  //borderColor: 'rgb(0, 255, 0)',
                  borderColor: '#ffdc73',
                  label: 'AcX'
                },{
                  fill:false,
                  hidden: true,
                  //borderColor: '#7fb126',
                  borderColor: '#a67c00',
                  label: 'AcY',
                  data: sleeplabs_data.map(current => {return current.acydata}),
                },{
                  fill:false,
                  hidden: true,
                  //borderColor: '#4a6b0e',
                  borderColor: '#bf9b30',
                  label: 'AcZ',
                  data: sleeplabs_data.map(current => {return current.aczdata}),
                },{
                  fill:false,
                  hidden: true,
                  //borderColor: '#0000FF',
                  borderColor: 'ffbf00',
                  label: 'GyX',
                  data: sleeplabs_data.map(current => {return current.gyxdata}),
                },{
                  fill:false,
                  hidden: true,
                  //borderColor: '#00308F',
                  borderColor: '#ffcf40',
                  label: 'GyY',
                  data: sleeplabs_data.map(current => {return current.gyydata}),
                },{
                  fill:false,
                  hidden: true,
                  //borderColor: '#007FFF',
                  borderColor: '#ffdc79',
                  label: 'GyZ',
                  data: sleeplabs_data.map(current => {return current.gyzdata}),
                },{
                  fill:false,
                  hidden: true,
                  //borderColor: '#007FFF',
                  borderColor: '#FFA500',
                  label: 'OCC',
                  data: sleeplabs_data.map(current => {return current.occdata}),
                }
              ],
                labels: sleeplabs_data.map(current => {return current.x_axis})
              },
              options: {

              scales: {
                xAxes: [{
              ticks: {
                  autoSkip: true,
                  maxRotation: 45,
                  fontColor: "black",
                  maxTicksLimit: 10
              }
          }], 
          yAxes: [{
              ticks: {
                  fontColor: "black",
              }
          }]
              }
      }
    });
        
            // window.onload = function() {
            //   var ctx = document.getElementById('pie-chart').getContext('2d');
            //   window.myPie = new Chart(ctx, config);
            // };
        
          </script>

<script>
  var todaydate;
  var sleeplabs_data;
  var todaydatebtnelement = document.getElementById("todaydatebtn");
  var yesterdaydatebtnelement = document.getElementById("yesterdaydatebtn");
  var alldatbtnelement = document.getElementById("alldatbtn");
  var selectdatebtnelement = document.getElementById("dateselector");
  var periodvalue;
  var Totalmins;
  var Restlessness_Period;
  var Ratio;
  var Quality;
  var Start;
  var Stop;
 function updatedashboard(value){
   // todaydate = new Date().toLocaleDateString()
               // var sevendaysagodate = new Date()
               // sevendaysagodate.setDate(sevendaysagodate.getDate() - 7)
               // var thirtydaysagodate = new Date()
               // thirtydaysagodate.setDate(thirtydaysagodate.getDate() - 30)
               // var leadsdatadatenew = new Date(leadsdata[i]['DOB'])
  
   if (value == 'today'){
     var todaydate = new Date().toLocaleDateString()
     sleeplabs_data = sleeplabs_data_parmanent.filter(function(value) {
                         return (new Date(value.x_axis).toLocaleDateString()) == todaydate; });
      todaydatebtnelement.classList.add("active");
      yesterdaydatebtnelement.classList.remove("active");
      alldatbtnelement.classList.remove("active");
      selectdatebtnelement.style.color = 'black';
      selectdatebtnelement.value = "";
      // periodvalue = 6
      // Totalmins = '150 mins'
      // Restlessness_Period = '3 mins'
      // Tight_Sleep_Period = '147 mins'
      // Ratio = (3/147).toFixed(2)
      // Quality = 'Good'
      // Start = sleeplabs_data[0]
      // Stop = sleeplabs_data[sleeplabs_data.length -1]
   }else if (value == 'Yesterday'){
     var yesterdaydate = new Date()
     yesterdaydate.setDate(yesterdaydate.getDate() - 1)
     sleeplabs_data = sleeplabs_data_parmanent.filter(function(value) {
                       return (new Date(value.x_axis).toLocaleDateString()) == yesterdaydate.toLocaleDateString(); });
      
      todaydatebtnelement.classList.remove("active");
      yesterdaydatebtnelement.classList.add("active");
      alldatbtnelement.classList.remove("active");
      selectdatebtnelement.style.color = 'black';
      selectdatebtnelement.value = "";
      // periodvalue = 1
      // Totalmins = '90 mins'
      // Restlessness_Period = '2 mins'
      // Tight_Sleep_Period = '88 mins'
      // Ratio = (2/88).toFixed(2)
      // Quality = 'Good'
      // Start = sleeplabs_data[0]
      // Stop = sleeplabs_data[sleeplabs_data.length -1]
   }else if (value == 'alltime'){
     sleeplabs_data = sleeplabs_data_parmanent
      todaydatebtnelement.classList.remove("active");
      yesterdaydatebtnelement.classList.remove("active");
      alldatbtnelement.classList.add("active");
      selectdatebtnelement.style.color = 'black';
      selectdatebtnelement.value = "";
      // periodvalue = 7
      // Totalmins = 240
      // Restlessness_Period = '5 mins'
      // Tight_Sleep_Period = '235 mins'
      // Ratio = (5/235).toFixed(2)
      // Quality = 'Good'
      // Start = sleeplabs_data[0]
      // Stop = sleeplabs_data[sleeplabs_data.length -1]
   }else{
    console.log(value)
    var selectdate = new Date(value).toLocaleDateString()
    sleeplabs_data = sleeplabs_data_parmanent.filter(function(value) {
                         return (new Date(value.x_axis).toLocaleDateString()) == selectdate; });
      todaydatebtnelement.classList.remove("active");
      yesterdaydatebtnelement.classList.remove("active");
      alldatbtnelement.classList.remove("active");
      selectdatebtnelement.style.color = 'blue';
   }
   Acx_data = sleeplabs_data.map(current => {return current.acxdata})
   myChart.data.labels = sleeplabs_data.map(current => {return current.x_axis})
   myChart.data.datasets[0].data = sleeplabs_data.map(current => {return current.acxdata});
   myChart.data.datasets[1].data = sleeplabs_data.map(current => {return current.acydata});
   myChart.data.datasets[2].data = sleeplabs_data.map(current => {return current.aczdata}) ;
   myChart.data.datasets[3].data = sleeplabs_data.map(current => {return current.gyxdata});
   myChart.data.datasets[4].data = sleeplabs_data.map(current => {return current.gyydata});
   myChart.data.datasets[5].data = sleeplabs_data.map(current => {return current.gyzdata});
   myChart.update();
  //  $("#graphinfotabletbody").empty();
  //  $('#graphinfotabletbody').append('<tr">'+
  //                   '<td>'+'NaN'+</td>'+
  //                   '<td>'+'NaN'+'</td>'+
  //                   '<td>'+'NaN' +'</td>'+
  //                   '<td>'+'NaN' +'</td>'+
  //                   '<td>'+'NaN' +'</td>'+
  //                   '<td>'+'NaN' +'</td>'+
  //                   '</tr>');
 }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        
    </body>
</html>