<!DOCTYPE html>
<html>
    <head>
      <title>SleepLabs</title>
      <!-- <link rel="icon" type="image/x-icon" s="https://nps-storage.s3.ap-south-1.amazonaws.com/images/icons8-snitch-48.png"> -->
      <link rel = "icon" href ="https://nps-storage.s3.ap-south-1.amazonaws.com/images/icons8-snitch-48.png" type = "image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://pagecdn.io/lib/mathjs/11.0.1/math.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            var sleeplabs_data;
            sleeplabs_data = {{sleeplabs|safe}}
            sleeplabs_data_parmanent = sleeplabs_data
            console.log(sleeplabs_data, sleeplabs_data_parmanent)
        </script>
        <!-- <meta http-equiv="refresh" content="10"> -->
        <style>
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
          .dashboardLeadBtn{
              background: #FFFFFF;
              border: 1px solid #D0D5DD;
              float: left;
              color: white;
              font-family: 'Inter', sans-serif !important;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #344054;
              width: 73px;
              height: 40px;
          }
          .active{
            color: blue;
            } 
            .dashboardBox{
              float: right;
              margin-right: 30px;
            }
            #pie-chart{
              width: 1460px !important;
            }
        </style>
    </head>
    <body style="background: #f7f4f4;">
      <div class="d-flex justify-content-between dashboardBox">
        <div class="btn-group">
            <button class="dashboardLeadBtn" id="todaydatebtn" style="border-radius: 8px 0px 0px 8px;" onclick="updatedashboard('today')">Today</button>
            <button class="dashboardLeadBtn" id="yesterdaydatebtn" onclick="updatedashboard('Yesterday')">Yesterday</button>
            <button class="dashboardLeadBtn active" id="alldatbtn" onclick="updatedashboard('alltime')" style="border-radius: 0px 8px 8px 0px;">All Time</button>
        </div>
      </div>
        <div id="container" style="width: 90%; margin-left: 30px;">
            <canvas id="pie-chart"></canvas>
        </div>

        <table id="graphinfotable" style="margin-top: 40px;">
          <thead>
          <tr>
            <th>Periods</th>
            <th>Total</th>
            <th>Restlessness Period</th>
            <th>Tight Sleep Period</th>
            <th>Ratio</th>
            <th>Quality</th>
          </tr>
        </thead>
        <tbody id="graphinfotabletbody">
          <tr>
            <td>7</td>
            <td>240</td>
            <td>5 mins</td>
            <td>235 mins</td>
            <td>0.021</td>
            <td>Good</td>
          </tr>
        </tbody>
          
        </table>

        <script>
          // function sleeplabgraph(){
            var Acx_data; 
            Acx_data = sleeplabs_data.map(current => {return current.acxdata})
            console.log('sleeplabs_data_parmanent',sleeplabs_data.map(current => {return current.acxdata}))
            var ctx_live = document.getElementById("pie-chart");
            var myChart = new Chart(ctx_live, {
              type: 'line',
              plugins: [{
                afterDraw: chart => {
                  let ctx = chart.chart.ctx;
                  let xAxis = chart.scales['x-axis-0'];
                  let yAxis = chart.scales['y-axis-0'];
                  ctx.save();
                  ctx.textAlign = 'center';
                  ctx.font = '12px Arial';      
                  ctx.fillStyle = 'black';
                  ctx.textAlign = 'left';
                  ctx.fillText('Avg. = ' + parseInt(Acx_data.reduce((a, b) => a + b, 0) / Acx_data.length), xAxis.left + 20, yAxis.top + 255);
                  ctx.fillText('Min. = ' + parseInt(Math.min(...Acx_data)), xAxis.left + 20, yAxis.top + 240);
                  ctx.fillText('Max. = '+ parseInt(Math.max(...Acx_data)), xAxis.left + 20, yAxis.top + 225);
                  ctx.fillText('SD = '+ parseInt(math.std(Acx_data)), xAxis.left + 20, yAxis.top +210);
                  ctx.restore();
                }
              }],
              data: {
                datasets: [{
                fill:false,
                  data: sleeplabs_data.map(current => {return current.acxdata}),
                  borderColor: 'rgb(0, 255, 0)',
                  label: 'AcX'
                },{
                  fill:false,
                  hidden: true,
                  borderColor: '#7fb126',
                  label: 'AcY',
                  data: sleeplabs_data.map(current => {return current.acydata}),
                },{
                  fill:false,
                  hidden: true,
                  borderColor: '#4a6b0e',
                  label: 'AcZ',
                  data: sleeplabs_data.map(current => {return current.aczdata}),
                },{
                  fill:false,
                  hidden: true,
                  borderColor: '#0000FF',
                  label: 'GyX',
                  data: sleeplabs_data.map(current => {return current.gyxdata}),
                },{
                  fill:false,
                  hidden: true,
                  borderColor: '#00308F',
                  label: 'GyY',
                  data: sleeplabs_data.map(current => {return current.gyydata}),
                },{
                  fill:false,
                  hidden: true,
                  borderColor: '#007FFF',
                  label: 'GyZ',
                  data: sleeplabs_data.map(current => {return current.gyzdata}),
                }
              ],
                labels: sleeplabs_data.map(current => {return current.x_axis})
              },
              options: {

              scales: {
                xAxes: [{
              ticks: {
                  autoSkip: true,
                  maxRotation: 45,
                  fontColor: "black",
                  maxTicksLimit: 10
              }
          }], 
          yAxes: [{
              ticks: {
                  fontColor: "black",
              }
          }]
              }
      }
    });
        
            // window.onload = function() {
            //   var ctx = document.getElementById('pie-chart').getContext('2d');
            //   window.myPie = new Chart(ctx, config);
            // };
        
          </script>

<script>
  var todaydate;
  var sleeplabs_data;
  var todaydatebtnelement = document.getElementById("todaydatebtn");
  var yesterdaydatebtnelement = document.getElementById("yesterdaydatebtn");
  var alldatbtnelement = document.getElementById("alldatbtn");
  var periodvalue;
  var Totalmins;
  var Restlessness_Period;
  var Ratio;
  var Quality;
  var Start;
  var Stop;
 function updatedashboard(value){
   // todaydate = new Date().toLocaleDateString()
               // var sevendaysagodate = new Date()
               // sevendaysagodate.setDate(sevendaysagodate.getDate() - 7)
               // var thirtydaysagodate = new Date()
               // thirtydaysagodate.setDate(thirtydaysagodate.getDate() - 30)
               // var leadsdatadatenew = new Date(leadsdata[i]['DOB'])
   if (value == 'today'){
     var todaydate = new Date().toLocaleDateString()
     sleeplabs_data = sleeplabs_data_parmanent.filter(function(value) {
                         return (new Date(value.x_axis).toLocaleDateString()) == todaydate; });
      todaydatebtnelement.classList.add("active");
      yesterdaydatebtnelement.classList.remove("active");
      alldatbtnelement.classList.remove("active");
      periodvalue = 6
      Totalmins = '150 mins'
      Restlessness_Period = '3 mins'
      Tight_Sleep_Period = '147 mins'
      Ratio = (3/147).toFixed(2)
      Quality = 'Good'
      Start = sleeplabs_data[0]
      Stop = sleeplabs_data[sleeplabs_data.length -1]
   }else if (value == 'Yesterday'){
     var yesterdaydate = new Date()
     yesterdaydate.setDate(yesterdaydate.getDate() - 1)
     sleeplabs_data = sleeplabs_data_parmanent.filter(function(value) {
                       return (new Date(value.x_axis).toLocaleDateString()) == yesterdaydate.toLocaleDateString(); });
      
      todaydatebtnelement.classList.remove("active");
      yesterdaydatebtnelement.classList.add("active");
      alldatbtnelement.classList.remove("active");
      periodvalue = 1
      Totalmins = '90 mins'
      Restlessness_Period = '2 mins'
      Tight_Sleep_Period = '88 mins'
      Ratio = (2/88).toFixed(2)
      Quality = 'Good'
      Start = sleeplabs_data[0]
      Stop = sleeplabs_data[sleeplabs_data.length -1]
   }else if (value == 'alltime'){
     sleeplabs_data = sleeplabs_data_parmanent
      todaydatebtnelement.classList.remove("active");
      yesterdaydatebtnelement.classList.remove("active");
      alldatbtnelement.classList.add("active");
      periodvalue = 7
      Totalmins = 240
      Restlessness_Period = '5 mins'
      Tight_Sleep_Period = '235 mins'
      Ratio = (5/235).toFixed(2)
      Quality = 'Good'
      Start = sleeplabs_data[0]
      Stop = sleeplabs_data[sleeplabs_data.length -1]
   }
   Acx_data = sleeplabs_data.map(current => {return current.acxdata})
   myChart.data.labels = sleeplabs_data.map(current => {return current.x_axis})
   myChart.data.datasets[0].data = sleeplabs_data.map(current => {return current.acxdata});
   myChart.data.datasets[1].data = sleeplabs_data.map(current => {return current.acydata});
   myChart.data.datasets[2].data = sleeplabs_data.map(current => {return current.aczdata}) ;
   myChart.data.datasets[3].data = sleeplabs_data.map(current => {return current.gyxdata});
   myChart.data.datasets[4].data = sleeplabs_data.map(current => {return current.gyydata});
   myChart.data.datasets[5].data = sleeplabs_data.map(current => {return current.gyzdata});
   myChart.update();
   $("#graphinfotabletbody").empty();
   $('#graphinfotabletbody').append('<tr">'+
                    '<td>'+periodvalue+'</td>'+
                    '<td>'+Totalmins+'</td>'+
                    '<td>'+Restlessness_Period +'</td>'+
                    '<td>'+Tight_Sleep_Period +'</td>'+
                    '<td>'+Ratio +'</td>'+
                    '<td>'+Quality +'</td>'+
                    '</tr>');
 }
</script>

        
    </body>
</html>