{% extends "layout.html" %}
{% load static %}

{% block content %}

<style>
	.datetimeForm{
            display: none;
            position: absolute;
            width: 600px;
            height: auto;
            padding-bottom: 10px;
            top: 20%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 2;
            background: #FFFFFF;
            box-shadow: 0px 2.4px 7.4px rgb(0 0 0 / 18%), 0px 12.8px 28.8px rgb(0 0 0 / 22%);
            border-radius: 2px;
        }
        .datetimeFormHeading{
            font-family: 'Inter', sans-serif !important;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #242424;
        }
        .datetimeFormInput{
            width: 100%;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 5px;
            font-family: 'Inter', sans-serif !important;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            padding-left: 10px;
            padding-right: 10px;
            outline: none;
        }
        .datetimeFormLabel{
            font-family: 'Inter', sans-serif !important;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            color: #344054;
        }
        .addNewdatetimeFormSubmitBtn, .confirmsubmitbtn{
            float: right;
            margin: 20px 5px 0px 0px;
            background: #AE8F30;
            border-radius: 4px;
            width: 100px;
            height: 35px;
            color: #ffffff;
            border: 0px;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
        }
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	font-size: 22px;
	margin-right: auto;
	margin-left: auto;
	table-layout: fixed;
    width: 45%;
	background-color:#e4b301;
}

/* th{
	background: #f5be00;
    color: white;
}

td, th {
  border: 3px solid #ffffff;
  text-align: center!important;
  padding: 8px!important;
}

tr:nth-child(even) {
  background-color: #f7e7ce;
}

tr:nth-child(odd) {
  background-color: #f5f5dc;
} */

.Dashboarddata{
        background-color: white;
        flex-grow: 4;
    }
    .Dashboarddatabox{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .dashboardleadsinfobox{
        width: 250px;
        height: 181px;
        background: #FFFFFF;
        border: 1px solid #E4E7EC;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
    }
    .dashboardleadsinfoboxheading{
        margin: 21px 0px 0px 24px;
        font-family: 'Inter', sans-serif !important;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #101828;
    }
    .dashboardstatusinfobox{
        width: 140px;
        height: 150px;
        background: #FFFFFF;
        border: 1px solid #FEB470;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
    }
    .dashboardstatusinfoboxheading{
        margin: 24px 24px 0px 24px;
        font-family: 'Inter', sans-serif !important;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #101828;
    }
    .dashboardstatusinfoboxvalue{
        margin: 24px 0px 24px 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #101828;
    }
    .dashboardleadsinfovalue{
        font-family: 'Inter', sans-serif !important;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
		line-height: 52px;
        letter-spacing: -0.02em;
        color: #101828;
        margin-top: 6px;
    }
    .dashboardleadsinfoboxline{
        margin-top: 17px;
        width: 100%;
        height: 1px;
        background: #E4E7EC;
    }
	.dashboardcircle{
		width: 70px;
		height: 70px;
		background: rgb(183 141 33 / 29%);
		border-radius: 50%;
		line-height: 6em;
		text-align: center;
		
	}
	.dashboardicon{
		width: 30px;
		border-radius: 5px;
		height: 30px;
		background: #d6c387;
    	color: #917e44;
		line-height: 1.25em;
	}

	.selectnewdatetimeBtn{
            background: #AE8F30;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            border: 0px solid #AE8F30;
            padding: 10px 18px;
            color: #ffffff;
            width: 177px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
		.glyphicon {
    		top: 8px!important;
			}

			.datetimeinputspan{
				font-size: 30px;
    			margin-left: 10px;
    			margin-right: 10px;
			}
			.sublabelheading{
				text-align: center;
				margin-top: 15px;
				margin-left: 10px;
				font-family: 'Inter', sans-serif !important;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				text-transform: capitalize;
				color: #344054;

			}
			.selectdatetimeFormsubId{
				padding: 30px 32px 30px 32px;
			}
			.mask{
				display: none;
				background: rgb(14, 14, 14);
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0px;
				opacity: 0.7;
				margin-left: -120px;
			}
</style>

<div class="d-flex justify-content-between dashboardBox">
	<h2 class="dashboardBoxHeading">Welcome back, {{request.user.first_name}}</h2>
	<div class="btn-group flex-wrap justify-content-end">
		<div class="datetimepickerbox d-flex">
			<button class="selectnewdatetimeBtn" onclick="opencloseaddnewdatetimeForm()">Select Date Time</button>
			<!-- <div class="d-flex">
				<input id="datepicker" placeholder="Start Date" onchange="fetchsleeplabsdata(this.value)">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<div class="d-flex">
				<input id="datepicker1" placeholder="End Date" onchange="fetchsleeplabsdata(this.value)">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div> -->
		  </div>
	</div>
</div>

<div class="d-flex justify-content-center">
<span id="star1" style="font-size:750%;">&starf;</span>
<span id="star2" style="font-size:750%;">&starf;</span>
<span id="star3" style="font-size:750%;">&starf;</span>
<span id="star4" style="font-size:750%;">&starf;</span>
<span id="star5" style="font-size:750%;">&starf;</span>
</div>

<h3 class="text-center">Your sleep quality last night was </h3>
<h1 id="sleepquality" class="text-center">Select Date</h1>

<br>

<div class="Dashboarddatabox">
	<div id="totalleads" class="Dashboarddata dashboardleadsinfobox">
		<h5 class="dashboardleadsinfoboxheading">Total Time</h5>
		<div class="d-flex flex-row gap-4 ml-4 mt-2">
			<!-- <div style="width: 56px; height: 56px;">
				<img src="https://nps-storage.s3.ap-south-1.amazonaws.com/images/Card+Icon.png" alt="">
			</div> -->
			<div class="dashboardcircle">
				<span class="material-symbols-outlined dashboardicon">
					bedtime
					</span>
			</div>
			<h4 class="dashboardleadsinfovalue counterclass" id='SleepTimevalue'>00:00:00</h4>
		</div>
		<div class="dashboardleadsinfoboxline"></div>
		<!-- <a class="dashboardleadsinfoboxviewallbtn" href="#" onclick="isKeyPressed(event)">View All</a> -->
	  </div>
	<div id="Assignedleads" class="Dashboarddata dashboardleadsinfobox">
	  <h5 class="dashboardleadsinfoboxheading">Sleep Time</h5>
	  <div class="d-flex flex-row gap-4 ml-4 mt-2">
		<!-- <div style="width: 56px; height: 56px;">
			<img src="https://nps-storage.s3.ap-south-1.amazonaws.com/images/Card+Icon.png" alt="">
		</div> -->
		<div class="dashboardcircle">
			<span class="material-symbols-outlined dashboardicon">
				airline_seat_individual_suite
				</span>
		</div>
		<h4 class="dashboardleadsinfovalue counterclass" id='BedOccupancyvalue'>00:00:00</h4>
		</div>
		<div class="dashboardleadsinfoboxline"></div>
	</div>
	<div id="Unassignedleads" class="Dashboarddata dashboardleadsinfobox">
	  <h5 class="dashboardleadsinfoboxheading">Restful Sleep</h5>
	  <div class="d-flex flex-row gap-4 ml-4 mt-2">
		<!-- <div style="width: 56px; height: 56px;">
			<img src="https://nps-storage.s3.ap-south-1.amazonaws.com/images/Card+Icon.png" alt="">
		</div> -->
		<div class="dashboardcircle">
			<span class="material-symbols-outlined dashboardicon">
				sleep
				</span>
		</div>
		<h4 class="dashboardleadsinfovalue counterclass" id='RestfulSleepvalue'>00:00:00</h4>
		</div>
		<div class="dashboardleadsinfoboxline"></div>
	</div>
	<div id="Unassignedleads" class="Dashboarddata dashboardleadsinfobox">
		<h5 class="dashboardleadsinfoboxheading">Restless Sleep</h5>
		<div class="d-flex flex-row gap-4 ml-4 mt-2">
		  <!-- <div style="width: 56px; height: 56px;">
			  <img src="https://nps-storage.s3.ap-south-1.amazonaws.com/images/Card+Icon.png" alt="">
		  </div> -->
		  <div class="dashboardcircle">
			<span class="material-symbols-outlined dashboardicon">
				bedtime_off
				</span>
			</div>
		  <h4 class="dashboardleadsinfovalue counterclass" id='RestlessSleepvalue'>00:00:00</h4>
		  </div>
		  <div class="dashboardleadsinfoboxline"></div>
	  </div>
</div>
<ul>
<div id="chatGPT" style="margin-top: 43px;"></div>

<div class="datetimeForm" id="addNewdatetimeFormId">
	<div class="selectdatetimeFormsubId">
		<div class="d-flex">
			<p class="datetimeFormHeading">Select Date Time</p>
			<div class="material-icons" onclick="opencloseaddnewdatetimeForm()" style="margin-left: auto; margin-top:5px;">clear</div>
		</div>
		<form method="POST" id="selectdatetimeform" enctype="multipart/form-data">{% csrf_token %}
			<div class="d-flex flex-column mt-2">
				<label class="datetimeFormLabel">Select Date</label>
				<div class="d-flex">
					<!-- <input class="datetimeFormInput" id="datepicker" name="datepicker" placeholder="Select Date" autocomplete="off"> -->
					
					<input class='datetimeFormInput' type="number" id="dateDD" name="dateDD" min=01 max=31 step=1 value=01>
					<span class="datetimeinputspan">/</span>
					<input  class='datetimeFormInput' type="number" id="dateMM" name="dateMM" min=01 max=12 step=1 value=01>
					<span class="datetimeinputspan">/</span>
					<input class='datetimeFormInput' type="number" id="dateYY" name="dateYY" min=2023 max=2050 step=1 value=2023>

					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
					<label class= "sublabelheading" >DD:MM:YYYY</label>
				</div>
			</div>

			<div class="d-flex flex-column mt-2">
				<label class= "datetimeFormLabel">Start Time  :</label>
				<div class="d-flex">
					<input class='datetimeFormInput' type="number" id="StartTimehours" name="StartTimehours" min=00 max=24 step=1 value=12>
					<span class="datetimeinputspan">:</span>
					<input  class='datetimeFormInput' type="number" id="StartTimemin" name="StartTimemin" min=00 max=60 step=1 value=00>
					<span class="datetimeinputspan">:</span>
					<input class='datetimeFormInput' type="number" id="StartTimesec" name="StartTimesec" min=00 max=60 step=1 value=00>
					<label class= "sublabelheading" >H:M:S</label>
				</div>
			</div>

			<div class="d-flex flex-column mt-2">
				<label class= "datetimeFormLabel">End Time  :</label>
				<div class="d-flex">
					<input class='datetimeFormInput' type="number" id="EndTimehours" name="EndTimehours" min=00 max=24 step=1 value=12 >
					<span class="datetimeinputspan">:</span>
					<input  class='datetimeFormInput' type="number" id="EndTimemin" name="EndTimemin" min=000 max=60 step=1 value=00 >
					<span class="datetimeinputspan">:</span>
					<input class='datetimeFormInput' type="number" id="EndTimesec" name="EndTimesec" min=00 max=60 step=1 value=00>
					<label class= "sublabelheading" >H:M:S</label>
				</div>
			</div>

			<hr class="mt-4 mb-0">

			<button class="addNewdatetimeFormSubmitBtn" id='submitdatetime'>Submit</button>
		</form>
	</div>
</div>
<div class="mask" id="maskid"></div> 
<!-- <li id="chatGPT1"></li> -->

<!-- <div class="Dashboarddatabox">
	<div id="ToDo" class="Dashboarddata dashboardstatusinfobox">
	  <h5 class="dashboardstatusinfoboxheading">To Do Leads</h5>
	  <h4 class="dashboardstatusinfoboxvalue counterclass" id="ToDoValue"></h4>
	</div>

	<div id="InProgress" class="Dashboarddata dashboardstatusinfobox">
	  <h5 class="dashboardstatusinfoboxheading">In Progress Leads</h5>
	  <h4 class="dashboardstatusinfoboxvalue counterclass" id="InProgressvalue"></h4>
	</div>

	<div id="Transferred" class="Dashboarddata dashboardstatusinfobox">
	  <h5 class="dashboardstatusinfoboxheading">Transferred Leads</h5>
	  <h4 class="dashboardstatusinfoboxvalue counterclass" id="Transferredvalue"></h4>
	</div>

	<div id="Completed" class="Dashboarddata dashboardstatusinfobox">
	  <h5 class="dashboardstatusinfoboxheading">Completed Leads</h5>
	  <h4 class="dashboardstatusinfoboxvalue counterclass" id="Completedvalue"></h4>
	</div>

	<div id="Rejected" class="Dashboarddata dashboardstatusinfobox" >
	  <h5 class="dashboardstatusinfoboxheading">Rejected Leads</h5>
	  <h4 class="dashboardstatusinfoboxvalue counterclass" id="Rejectedvalue"></h4>
	</div>
</div> -->

<!-- <table>
	<tr>
	  <th>Parameter</th>
	  <th>Value</th>
	</tr>
	<tr>
	  <td>Total Sleep Hours</td>
	  <td>8 hours</td>
	</tr>
	<tr>
	  <td>Occupant Sleep Hours</td>
	  <td>6 hours</td>
	</tr>
	<tr>
	  <td>Restfull Hours</td>
	  <td>5 hours 10 minutes</td>
	</tr>
	<tr>
	  <td>Restless Events</td>
	  <td>9 hours</td>
	</tr>
  </table> -->
<!-- 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
  $( function() {
	$( "#datepicker" ).datepicker({
		dateFormat: "dd-mm-yy"
		,	duration: "fast"
	});
} );
</script> -->
<script>
	var maskhover = document.getElementById('maskid');
	
	maskhover.addEventListener('click',function(){
	this.style.display="none";
	document.getElementById('addNewdatetimeFormId').style.display='none'
	})
</script>
<script>
	function opencloseaddnewdatetimeForm(){
		if (document.getElementById('addNewdatetimeFormId').style.display=='block'){
			document.getElementById('addNewdatetimeFormId').style.display='none'
			document.getElementById("maskid").style.display='none'
		}else{
			document.getElementById('addNewdatetimeFormId').style.display='block'
			
			document.getElementById("maskid").style.display='block'
		}
	}
</script>

<script>
	function sleepinfo(sleepinfodata){
	const chatGPTResponse = sleepinfodata
	const chatGPTDiv = document.getElementById("chatGPT");
	
	// Split the ChatGPT response into individual characters
	const chatGPTResponseChars = chatGPTResponse.split("");
	
	// Use a loop to add each character to the div with a delay
	let i = 0;
	const intervalId = setInterval(() => {
	  chatGPTDiv.innerHTML += chatGPTResponseChars[i];
	  i++;
	  if (i === chatGPTResponseChars.length) {
		clearInterval(intervalId);
		// litagdata()
	  }
	}, 50);

}
  </script>

<script>
	function getCookie(name) {
	let cookieValue = null;
	if (document.cookie && document.cookie !== "") {
	  const cookies = document.cookie.split(";");
	  for (let i = 0; i < cookies.length; i++) {
		const cookie = cookies[i].trim();
		// Does this cookie string begin with the name we want?
		if (cookie.substring(0, name.length + 1) === (name + "=")) {
		  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		  break;
		}
	  }
	}
	return cookieValue;
  }
  </script>
  <script>
	var sleepdata;
	function fetchsleeplabsdata(value){
		console.log('value', value)
	  fetch('/sleep_labs_graph_api_v3/', {
		method: "POST",
		credentials: "same-origin",
		headers: {
		  "X-Requested-With": "XMLHttpRequest",
		  "X-CSRFToken": getCookie("csrftoken"),
		},
		body: JSON.stringify(value)
	  })
	  .then(response => response.json())
	  .then(data => {
		console.log(data);
		document.getElementById("maskid").style.display='none'
		document.getElementById('addNewdatetimeFormId').style.display='none'
		sleepdata = data
		document.getElementById("star1").style.color=""
		document.getElementById("star2").style.color=""
		document.getElementById("star3").style.color=""
		document.getElementById("star4").style.color=""
		document.getElementById("star5").style.color=""
		document.getElementById("chatGPT").innerHTML = ""
		document.getElementById('sleepquality').innerHTML = "Select Date"
		if(data.Sleep_star == 1){
			document.getElementById("star1").style.color="#e4b301"
		}else if(data.Sleep_star == 2){
			document.getElementById("star1").style.color="#e4b301"
			document.getElementById("star2").style.color="#e4b301"
		}else if(data.Sleep_star == 3){
			document.getElementById("star1").style.color="#e4b301"
			document.getElementById("star2").style.color="#e4b301"
			document.getElementById("star3").style.color="#e4b301"
		}else if(data.Sleep_star == 4){
			document.getElementById("star1").style.color="#e4b301"
			document.getElementById("star2").style.color="#e4b301"
			document.getElementById("star3").style.color="#e4b301"
			document.getElementById("star4").style.color="#e4b301"
		}else{
			document.getElementById("star1").style.color="#e4b301"
			document.getElementById("star2").style.color="#e4b301"
			document.getElementById("star3").style.color="#e4b301"
			document.getElementById("star4").style.color="#e4b301"
			document.getElementById("star5").style.color="#e4b301"
		}
		document.getElementById('sleepquality').innerHTML = data.Sleep_quality
		document.getElementById('SleepTimevalue').innerHTML = data.total_time+ " hrs";
		document.getElementById('BedOccupancyvalue').innerHTML = data.bedOccupantTime+ " hrs";
		document.getElementById('RestfulSleepvalue').innerHTML = data.sleep_time+ " hrs";
		document.getElementById('RestlessSleepvalue').innerHTML = data.awake_time+ " hrs";
		sleepinfodata = data.Sleep_info
		sleepinfo(sleepinfodata)

	  });
	}
  </script>
<!-- <script>
	function litagdata(){
	const chatGPTResponse1 = "This is the ChatGPT response. It will appear as if it's being typed out in real-time.";
	const chatGPTDiv1 = document.getElementById("chatGPT1");
	
	// Split the ChatGPT response into individual characters
	const chatGPTResponseChars1 = chatGPTResponse.split("");


	let j = 0;
	const intervalId1 = setInterval(() => {
		chatGPTDiv1.innerHTML += chatGPTResponseChars1[j];
	  j++;
	  if (j === chatGPTResponseChars1.length) {
		clearInterval(intervalId1);
	  }
	}, 50);

	}
  </script> -->
  
 
 <script>
	const btn = document.getElementById('submitdatetime');
	const form = document.getElementById('selectdatetimeform');


        btn.addEventListener('click', (e) => {
			event.preventDefault();

			const formData = new FormData(form);
			let dateDD = document.getElementById('dateDD').value.toString().padStart(2, '0');
			let dateMM = document.getElementById('dateMM').value.toString().padStart(2, '0');
			let dateYY = document.getElementById('dateYY').value.toString();
			let dateStr = dateMM + '/' + dateDD + '/' + dateYY;

			//console.log(dateDD + '/' + dateMM + '/' + dateYY);

			//"Date":formData.get('datepicker')
			datajson = {"Date":dateStr, "StartTimehours": formData.get('StartTimehours'), 
						"StartTimemin":formData.get('StartTimemin'), "StartTimesec":formData.get('StartTimesec'),
						'EndTimehours': formData.get('EndTimehours'), 'EndTimemin': formData.get('EndTimemin'),
						'EndTimesec': formData.get('EndTimesec')	
					}
			console.log('DateTimedata', datajson)
			fetchsleeplabsdata(datajson)
		})
</script>

  
{% endblock content %}